@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    background-image: url("../assets/download.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px whitesmoke;
    border-radius: 12px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(38, 0, 49);
    border-radius: 12px;
  }